:root{
    --puple: #65366C;
    --orange: #F69278;
}

footer{
    height: 10vh;
    background-color: var(--puple);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

footer > span{
    padding-top: 10px;
    color: var(--orange);
    margin-bottom: 15px;
}