#game_history_list{
    height: 82vh;
    background-color: #1E201F;
    display: flex;
    justify-content: center;
}

#history_list_container{
    width: 80%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#history_list_container ul{
    width: 100%;
    margin-top: 20px;
    list-style: none;
}

#history_list_container li{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#history_list_text{
    margin: 30px 0;
    color: aliceblue;
}

#history_list_user{
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(54, 174, 54);
    color: aliceblue;
}

#history_list_content{
    color: aliceblue;
}

#history_list_result{
    color: aliceblue;
}

#history_list_detail{
    color: rgb(54, 174, 54);
    padding: 10px 20px;
    border: 1px solid  rgb(54, 174, 54);
    border-radius: 5px;
}