#social-login-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-login-button {
    margin-bottom: 10px; 
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}

.github-login {
    background-color: #24292e; 
    color: white;
   
}

.google-login {
    background-color: #db4437; 
    color: white;
    
}

.naver-login {
    background-color: #2db400; 
    color: white;
    
}

.kakao-login {
    background-color: yellow; 
    color: black;
    
}