:root {
  --puple: #65366c;
  --orange: #f69278;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bagel Fat One", system-ui;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  color: aliceblue;
}

#logo a {
  font-size: larger;
  color: var(--orange);
}

nav {
  background-color: var(--puple);
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: space-between;
}

nav > div {
  margin: 0 10rem;
  color: aliceblue;
}

#nav_menu {
  display: flex;
  gap: 3rem;
}

#nav_menu > a {
  color: var(--orange);
}
