{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
    <div class="detail_container">
        <div class="detail_modal">
            <div class="detail_vs_users">{{game.id}} - {{game.attacker}} VS {{game.defender}}</div>
            {% if game.rule == 0 %}
            <p>숫자가 작은 사람이 이깁니다.</p>
            {% else %}
            <p>숫자가 큰 사람이 이깁니다.</p>
            {% endif %}
            <div id="cards_container">
                <p>{{game.attacker}} : {{game.attacker_card}}</p>
                <p>{{game.defender}} : {{game.defender_card}}</p>
            </div>
            {% if game.rule == 0 %}
                {% if game.attacker_card > game.defender_card %}
                <p>결과 : 수비자 승리</p>
                {% elif game.attacker_card < game.defender_card %}
                <p>결과 : 공격자 승리</p>
                {% elif game.attacker_card == game.defender_card %}
                <p>결과 : 무승부</p>
                {% endif %}
            {% else %}
                {% if game.attacker_card > game.defender_card %}
                <p>결과 : 공격자 승리</p>
                {% elif game.attacker_card < game.defender_card %}
                <p>결과 : 수비자 승리</p>
                {% elif game.attacker_card == game.defender_card %}
                <p>결과 : 무승부</p>
                {% endif %}
            {% endif %}
            
            {% if game.rule == 0 %}
                {% if game.attacker_card > game.defender_card %}
                <p>승리자 점수 : +{{game.defender_card}}</p>
                <p>패배자 점수 : -{{game.attacker_card}}</p>
                {% elif game.attacker_card < game.defender_card %}
                <p>승리자 점수 : -{{game.attacker_card}}</p>
                <p>패배자 점수 : +{{game.defender_card}}</p>
                {% elif game.attacker_card == game.defender_card %}
                <p>점수 : 무승부</p>
                {% endif %}
            {% else %}
                {% if game.attacker_card > game.defender_card %}
                <p>승리자 점수 : -{{game.attacker_card}}</p>
                <p>패배자 점수 : +{{game.defender_card}}</p>
                {% elif game.attacker_card < game.defender_card %}
                <p>승리자 점수 : +{{game.defender_card}}</p>
                <p>패배자 점수 : -{{game.attacker_card}}</p>
                {% elif game.attacker_card == game.defender_card %}
                <p>결과 : 무승부</p>
                {% endif %}
            {% endif %}
            <div class="delete_container margin-top">
                <a class="history_list_prev" href="{% url 'game:game_list'%}">게임취소</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
