{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <div class="detail_container">
    <div class="detail_modal">
      <div class="detail_vs_users">{{game.id}} - {{game.attacker}} VS {{game.defender}}</div>
      <p>진행중...</p>
      <div id="score_board">
        <p>나: {{game.attacker}} : {{game.attacker_card}}</p>
      </div>
      <div class="delete_container">
        <a class="history_list_prev" href="{% url 'game:game_list'%}">게임취소</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
