{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="main_container">
        <div class="main_title">
            <p>전 세계 피로그래머와 한 판 승부 숫자카드게임</p>
        </div>
        {% if user.is_authenticated %}
        <span class="main_username">{{request.user.username}}님이 로그인 중</span>
        {% endif %}
        <div class="btns">
            <button class="btn_game"><a href="{% url 'common:login' %}">게임하기</a></button>
            {% if user.is_authenticated %}
            <button class="btn_history"><a href="{% url 'game:game_list'%}">전적보기</a></button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}